
#home{
	margin-top:50px;
	display:block;
	position: relative;
	height: 590px;
}

.logo{
	display: block;
	width:100%;
	position: absolute;
	z-index:10;
	top:60px;
}

.logo img{
	display: block;
    margin: auto;
    width:500px;
}
#offer{
	display:block;
	min-height:400px;
}

#gallery{
	display:block;

	min-height:100px;
}

#aboutUs{
	display:block;
	min-height:100px;
	background-color: #eee;
}
		  
#contact{
	display:block;
	min-height:100px;
	position: relative;
}


#map iframe{
	margin-right:auto;
	margin-left:auto;
	height: 600px;
}

#contactInformation{
	border:1px solid black;
	width: 250px;
	height: 250px;
	background-color: #fff;
	position: absolute;
	bottom: 400px;
	left: 50%;
	margin-left: -125px;
	z-index: 10;
	text-align: center;
	border-radius: 150px;
	padding-top:30px;
	font-family: Tahoma;
	font-weight: 400;
	font-size:20px;
	color:#333;
}

#contactInformation a{
	text-decoration: none;
	color:#333;
}

#footer{
	background-color:#121212;
	text-align: center;
	color: #666;
}

#footer ul{
	display: inline-block;
	text-align: center;
		margin-bottom: 5px;
}

#footer li{
	white-space: nowrap;
	margin-top:10px;
	display:inline-block;
	margin-left:10px;
	margin-right: 10px;

}

#footer a, #footer a:hover, #footer a:visited{
	list-style-type: none;
	color:#666;
	text-decoration: none;
}

h1{
	text-align: center;
	font-family: GaramondPremrPro-BdSubh;
	font-size: 50px;
	color: #303539;
}


.bxslider {
	padding-left:0px;
}
.bxslider img{
	width:100%;
}

.overlay {
   position:relative; 
   width:100%;
   height:545px; /* your iframe height */
   bottom:545;  /* your iframe height */
   margin-top:-545px;  /* your iframe height */
   background-color: transparent;
}
.crop {
    width: 100%;
    height: 590px;
    overflow: hidden;
}
.navbar, .navbar-default, .navbar-fixed-top{
	background-color: #121212;
	border:none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:active, .navbar-default .navbar-nav > .active > a:link, .navbar-default .navbar-nav > .active > a:visited{
	background-color: #222222;
}

.nav.center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}
.navbar-inner{
    text-align:center;
}